# Git and Docker files
.git/
.gitignore
Dockerfile
.dockerignore

# Python cache and virtual environments
__pycache__/
*.pyc
.venv/
venv/

# Local data, models, and results. These will be mounted as volumes.
data/
outputs/
logs/

# Exclude large pre-training and analysis folders
pretrain-corpora/
readme-docs/
LICENSE
README.md
